.App {
  padding: 50px;
}

h1 {
  text-align: center;
}

#items-grid {
  padding: 6%;
}

#dimmer-sold {
  color: white;
  font-size: 2em;
  font-weight: bold; 
}

#button-hide-sold {
  position: absolute;
  right: 8%;
  clear: both;
  display: block;
  margin-top: 15px;
  margin-right: 1rem; 
}

#button-like {
  position: absolute;
  right: 5%;
  margin: 10px 0px 10px 10px;
  width: 3em;
  z-index: 30;
  border: 2px;
}

/*.ui.inverted.button:focus {
  background-color: rgba(0,0,0,0) !important;
}*/

#like-dropdown {
  display: block;
  position: absolute;
  top: 5%;
  right: 4%;
  font-weight: bold;
  z-index: 50;
}

#like-dropdown-items {
  font-weight: bold;
}